* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo-arlete-50{
    width: 20%;
    display:flex;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
.title{
    font-family: 'Holiday';
    color: rgb(39, 39, 39);
    text-align: center;;
}
.description{
    text-align: justify;
    margin: 20px;
    line-height: 26px;
}
.main-container{
    //background: linear-gradient(180deg, #fff, #d1a3a3);
    background-color: #f8ebeb;
}

mat-card {
    text-align: center;
    border-radius: 5px;
}

.home-container {
    padding-bottom: 10px;
}

.gifts-container {
    width: 95%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 30px;
}

.card-title {
    font-family: 'ComicSansMS';
    margin-top: 10px;
    margin-bottom: 2px;
}

.card-subtitle {
    font-family: 'ComicSansMS';
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(9, 121, 84);
    font-weight: 500;
}

mat-card-actions {
    display: block;
    margin-top: auto;
}

mat-icon {
    color: #505050;
}

.mat-card-image {
    height: 325px;
}

.button-confirmar-presenca{
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    .mat-icon{
        color: rgb(9, 121, 84);
    }
    .confirmar-presenca{
        font-weight: 300;
    }
}

@media (min-width: 1200px) {
    .card {
        width: 20%;
    }
}

@media (min-width: 769px) {
    .card {
        width: 25%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .logo-arlete-50{
        width: 50%;
    }
    .card {
        width: 33%;
    }
    .home-images-container {
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .home-images {
        width: 49%;
        height: 49vw;
        border-radius: 5px;
        margin-bottom: 2vw;
    }
}

@media (max-width: 480px) {
    .logo-arlete-50{
        width: 70%;
    }
    .gifts-container{
        justify-content: space-between;
    }
    .card {
        width: 49%;
        margin-bottom: 10px;
        .mat-card-image {
            height: 225px;
        }
    }
    .home-images-container {
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .home-images {
        width: 49%;
        height: 49vw;
        border-radius: 5px;
        margin-bottom: 2vw;
    }
    #localizacao{
        padding-bottom: 10px;
        .edificio{
            display: flex;
            margin-left: auto;
            margin-right: auto;
            width: 95%;
            border-radius: 5px;
        }
    }

}