<div class="main-container">
    <div class="home-container">
        <img [src]="getImagePath('arlete-50.png')" class="logo-arlete-50">

        <div class="center-content">
            <h4 style="font-family: ComicSansMS; font-size: 20px; color: rgb(39, 39, 39); text-align: center;">
                {{ greeting }}, escolha uma opção abaixo:
            </h4>
            <!--<span style="font-size: 40px; margin-top: 15px; margin-bottom: 15px;">👇</span>-->
            <img class="dedo" [src]="getImagePath('dedo.gif')" alt="">
        </div>

        <div class="home-images-container">
            <img class="home-images" [src]="getImagePath('diadafesta.jpg')" (click)="scrollToSection('sobre')">
            <img class="home-images" [src]="getImagePath('presente.jpg')" (click)="scrollToSection('presentes')">
            <img class="home-images" [src]="getImagePath('confirmar.jpg')" (click)="scrollToSection('confirmacao')">
            <img class="home-images" [src]="getImagePath('local.jpg')" (click)="scrollToSection('localizacao')">
        </div>
    </div>

    

    <div id="sobre">
        <h1 class="title">Como será a festa?</h1>
        <div class="decorative-line"></div>
        <p class="description">
            Estou completando 50 anos e não poderia deixar de compartilhar esse momento incrível com você!
            Afinal, meio século de vida merece ser celebrado. Foram muitas alegrias, superações, conquistas, lembranças
            e histórias vividas. E você faz parte dessa trajetória, por isso quero comemorar ao seu lado!
            Será uma festa repleta de boas energias, risadas, lembranças, música boa, comes e bebes e muita diversão.
            Tudo isso na data e horário abaixo:
        </p>

        <div class="event-container">
            <div class="event-date">08/02/2025</div>
            <div class="decorative-line"></div>
            <div class="event-time">18h30 às 00h</div>
        </div>

    </div>
    
    <div id="presentes">
        <h1 class="title">Presentes</h1>
        <div class="decorative-line"></div>
        <p class="description">
            Se deseja me presentear, deixo algumas sugestões práticas e criativas, que podem ser feitas via PIX, e que serão muito apreciadas. 
        </p>
        <p class="description">
            Fique à vontade para escolher o que achar melhor; se preferir algo mais tradicional, um presente "material" será bem-vindo.
        </p>
        <p class="description">
            Lembre-se que sua presença e carinho já são o maior presente para mim! ❤️
        </p>
        <div class="gifts-container">

            <mat-card class="card" appearance="outlined" (click)="cardTitle.getAttribute('value') ? openDialog(cardTitle.getAttribute('value')!) : null">

                <img mat-card-image class="mat-card-image" [src]="getImagePath('pedicure.gif')" mat-button>

                <mat-card-content mat-button>
                    <h3 class="card-title" #cardTitle value="Pedicure - R$ 59,99">Pedicure</h3>
                    <p class="card-subtitle">R$ 59,99</p>
                    <p>
                        Depois de tantos passos dados, é hora de dar aos pés um tratamento VIP. Uma pedicure para deixar
                        tudo pronto para a festa!
                    </p>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>PRESENTEAR ESSE</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="card" appearance="outlined" (click)="cardTitle.getAttribute('value') ? openDialog(cardTitle2.getAttribute('value')!) : null">

                <img mat-card-image class="mat-card-image" [src]="getImagePath('escada.gif')">

                <mat-card-content>
                    <h3 class="card-title" #cardTitle2 value="Escadinha - R$ 79,99">Escadinha</h3>
                    <p class="card-subtitle">R$ 79,99</p>
                    <p>
                        Essa escada especial será muito útil para ela, pois você ajudará a baixinha a alcançar os lugares mais altos!
                    </p>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>PRESENTEAR ESSE</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="card" appearance="outlined" (click)="cardTitle.getAttribute('value') ? openDialog(cardTitle3.getAttribute('value')!) : null">

                <img mat-card-image class="mat-card-image" [src]="getImagePath('abafador.gif')">

                <mat-card-content>
                    <h3 class="card-title" #cardTitle3 value="Super abafador de som - R$ 99,99">Super abafador de som</h3>
                    <p class="card-subtitle">R$ 99,99</p>
                    <p>
                        Esse é para ajudar a aniversariante a conseguir dormir sem ouvir os roncos do marido.
                    </p>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>PRESENTEAR ESSE</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="card" appearance="outlined" (click)="cardTitle.getAttribute('value') ? openDialog(cardTitle4.getAttribute('value')!) : null">

                <img mat-card-image class="mat-card-image" [src]="getImagePath('massagem.gif')">

                <mat-card-content>
                    <h3 class="card-title" #cardTitle4 value="Massagem especimiau - R$ 119,99">Massagem especimiau</h3>
                    <p class="card-subtitle">R$ 119,99</p>
                    <p>
                        Pague um gatinho para manter a aniversariante relaxada e sem dores nas articulações.
                    </p>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>PRESENTEAR ESSE</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="card" appearance="outlined" (click)="cardTitle.getAttribute('value') ? openDialog(cardTitle5.getAttribute('value')!) : null">

                <img mat-card-image class="mat-card-image" [src]="getImagePath('minion.gif')">

                <mat-card-content>
                    <h3 class="card-title" #cardTitle5 value="Biquíni de marca - R$ 139,99">Biquíni de marca</h3>
                    <p class="card-subtitle">R$ 139,99</p>
                    <p>
                        Neste verão, dê um biquíni chique para mostrar que mesmo com 50tão, a dona Arlete ainda dá muito caldo. 🏖️
                    </p>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>PRESENTEAR ESSE</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="card" appearance="outlined" (click)="cardTitle.getAttribute('value') ? openDialog(cardTitle6.getAttribute('value')!) : null">

                <img mat-card-image class="mat-card-image" [src]="getImagePath('skyncare.gif')">

                <mat-card-content>
                    <h3 class="card-title" #cardTitle6 value="Creme antirrugas - R$ 159,99">Creme antirrugas</h3>
                    <p class="card-subtitle">R$ 159,99</p>
                    <p>
                        Diretamente da fonte da juventude, este creme é o segredo para a beleza natural. A aniversariante vai amar este presente especial!
                    </p>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>PRESENTEAR ESSE</button>
                </mat-card-actions>
            </mat-card>

        </div>
    </div>
    
    <div id="confirmacao">
        <h1 class="title">Confirmação</h1>
        <div class="decorative-line"></div>
        <p class="description">
            Confirme sua presença e venha celebrar a vida!
            Para facilitar o acesso ao salão de festas, por favor preencher o formulário com nome completo e número de
            documento de todos os convidados.
        </p>

        <div class="button-icon">
            <a mat-fab extended href="https://docs.google.com/forms/d/e/1FAIpQLSemawCLKJ6Aw477lTE_q2YDm8nrfgdFghjHZ22NWAzdo5tQlQ/viewform?usp=header">
                <mat-icon id="confirm">check_circle</mat-icon>
                <p class="button-icon-text">Clique aqui para confirmar!</p>
            </a>
        </div>

    </div>
    
    <div id="localizacao">
        <h1 class="title">Localização</h1>
        <div class="decorative-line"></div>
        <p class="description">
            Aguardo sua presença no salão de festas do prédio residencial Renoir 2.
        </p>
        <a href="https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=/maps/place/R.%2BGen.%2BOtelo%2BRodrigues%2BFranco,%2B543%2B-%2BCanto%2Bdo%2BForte,%2BPraia%2BGrande%2B-%2BSP,%2B11700-700/data%3D!4m2!3m1!1s0x94ce1d094b1b0c9f:0xd212e3ee3dee1bdf%3Fsa%3DX%26ved%3D1t:242%26ictx%3D111&ved=2ahUKEwi0jsue7vuKAxUYr5UCHTtnAb8Q8gF6BAgjEAI&usg=AOvVaw3K4vX3nogKCu9uw8-spiUl">
            <img [src]="getImagePath('renoir2.jpg')" alt="Edifício Renoir 2" class="edificio">
        </a>

        <div class="button-icon">
            <a mat-fab extended href="https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=/maps/place/R.%2BGen.%2BOtelo%2BRodrigues%2BFranco,%2B543%2B-%2BCanto%2Bdo%2BForte,%2BPraia%2BGrande%2B-%2BSP,%2B11700-700/data%3D!4m2!3m1!1s0x94ce1d094b1b0c9f:0xd212e3ee3dee1bdf%3Fsa%3DX%26ved%3D1t:242%26ictx%3D111&ved=2ahUKEwi0jsue7vuKAxUYr5UCHTtnAb8Q8gF6BAgjEAI&usg=AOvVaw3K4vX3nogKCu9uw8-spiUl">
                <mat-icon id="map">pin_drop</mat-icon>
                <p class="button-icon-text">Clique aqui para abrir no maps</p>
            </a>
        </div>
        <p class="description address">📍 Rua General Otelo Rodrigues Franco, 543 - Canto do Forte, Praia Grande.</p>
    </div>
    <img [src]="getImagePath('abraco.png')" style="width: 250px; display: flex; margin: auto;" alt="Abraço da arlete">

</div>