<div id="dialog">
    <h2 mat-dialog-title>Presente escolhido:</h2>
    <h3>{{ data.value }}</h3>
    <div mat-dialog-content>
      <p class="description">Tenho certeza que a Arlete irá amar esse super mimo! 😍</p>
      
      <mat-form-field appearance="outline">
        <mat-label>Chave PIX (Celular)</mat-label>
        <input id="inputChavePix"matInput #inputElement value="13992030324">
        <button mat-icon-button matSuffix (click)="copyToClipboard(inputElement.value)">
          <mat-icon>content_copy</mat-icon>
        </button>
      </mat-form-field>
    
      <div class="copy-button-container">
        <button mat-button (click)="copyToClipboard(inputElement.value)">Copiar</button>
      </div>

      <p class="tip">💡 <b>Dica: </b>É possível usar o aplicativo do banco para enviar uma mensagem de aniversário junto com o pix.</p>
    </div>
    <div mat-dialog-actions>
    
    </div>
</div>
