#dialog{
    margin: 25px;
}
.copy-button-container {
    display: flex;
    justify-content: end;
    margin-top: -20px;
}
.mat-mdc-form-field{
    width: 100%;
}
h2{
    font-family: "ComicSansMS";
    margin-top: 5px;
    text-align: center;
}
h3{
    font-family: "ComicSansMS";
    text-align: center;
    color: rgb(9, 121, 84);
}
.description{
    margin-bottom: 30px;
    text-align: center;
}
.tip{
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}	