@font-face {
    font-family: 'Holiday';
    src: url('../public/Best\ Holiday.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'ComicSansMS';
    src: url('../public/Comic\ Sans\ MS.ttf') format('truetype');
    font-weight: normal;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Verdana', Segoe UI, sans-serif;
}